<div class="float_bar" id="float_bar_site">
    <div class="float_bar_inner">
        <div class="float_bar_over_wrapp">
            <!--Widget-->
            <div class="sidebar_block float_sidebar_widget">
                <div class="widget_recent_image">
                    <h4 class="widget_title">最新文章</h4>
                    <div class="widget_recent_post">
                        <ul>
                            {volist name=":get_news_new_list()" id="vo"}
                            <li>
                                <div class="post_thumb">
                                    <a href="single.html">
                                        <img src="{$vo.thumb}" alt="{$vo.title}">
                                    </a>
                                </div>
                                <h6 class="post_name"><a href="{$vo.url}">{$vo.title}</a></h6>
                                <div class="post_data_recent">
                                    <div class="post_data"><i class="fas fa-clock"></i>{$vo.update_time|date='Y-m-d'}</div>
                                </div>
                            </li>
                            {/volist}

                        </ul>
                    </div>
                </div>
            </div>
            <!--END Widhet-->
            <!--Widhet-->
            <!--<div class="sidebar_block float_sidebar_widget">
                <h4 class="widget_title">照片墙</h4>
                <div class="instagram-fee">
                    <ul class="instagram-pics instagram-size-thumbnail">
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb5.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb6.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb7.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <img src="__STATIC__/picture/instthumb8.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>-->
            <!--END Widhet-->
            <!--Widhet-->
            <!--<div class="sidebar_block float_sidebar_widget">
                <h4 class="widget_title">搜索</h4>
                <div class="widget_search">
                    <form id="searchform" class="searchform">
                        <input type="text" placeholder="Search" required>
                        <button type="submit" class="search-submit btn_gurd"><i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
            </div>-->
            <!--END Widhet-->
            <!--Widhet-->
            <div class="sidebar_block float_sidebar_widget widget_categories">
                <h4 class="widget_title">分类</h4>
                <ul>
                    {volist name=':get_news_category_list()' id='vo'}
                    <li><a href="{$vo.url}" title="{$vo.name}"><span>{$vo.name}</span></a></li>
                    {/volist}
                </ul>
            </div>
            <!--END Widhet-->
            <!--Widhet-->
            <!--<div class="sidebar_block float_sidebar_widget">
                <h4 class="widget_title">Subscribe</h4>
                <div class="wp_subscribe">
                    <form action="#">
                        <input type="text" name="email" placeholder="Your email" required="">
                        <button class="btn_gurd"><i class="fas fa-envelope"></i>
                        </button>
                    </form>
                </div>
            </div>-->
            <!--END Widhet-->
        </div>
        <button class="close_float_sidebar" type="button" data-target="#float_bar_site"><i class="navbar-toggler-icon"><i class="icon-delete-cross"></i></i>
        </button>
    </div>
    <div class="cover_float_sidebar" data-target="#float_bar_site"></div>
</div>	