<footer class="mainfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer_block">
                    <h4 class="widget_title">关于我</h4>
                    <div class="textwidget">
                        <p>{$config.remarks}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block widget_tag_cloud">
                    <h4 class="widget_title">标签</h4>
                    <div class="tagcloud"><a href="#">Travel</a><a href="#">Furniture</a><a href="#">Sport</a><a href="#">Yoga</a><a href="#">Food</a><a href="#">Interior</a>
                        <br><a href="#">Helth</a><a href="#">House</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block widget_categories">
                    <h4 class="widget_title">友情链接</h4>
                    <ul>
                        <li><a href="https://www.liqingbo.cn/">PHP博客</a></li>
                        <li><a href="https://www.liqingbo.com/">李清波个人博客</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block">
                    <h4 class="widget_title">订阅</h4>
                    <div class="wp_subscribe">
                        <form action="#">
                            <input type="text" name="email" placeholder="Your email" required>
                            <button class="btn_gurd"><i class="icon-mail-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="socials_footer"><a href="#"><span class="icon-facebook"></span></a><a href="#"><span class="icon-instagram"></span></a><a href="#"><span class="icon-twitter"></span></a></div>
        <div class="site_copy">Copyright © 2021. LQBCMS All rights <a href="https://www.lqbcms.com/" target="_blank" title="bootstrapmb">Reserved</a>
        </div>
    </div>
</footer>