<footer class="mainfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3">
                <div class="footer_block">
                    <h4 class="widget_title">About Blog</h4>
                    <div class="textwidget">
                        <p>Lorem ipsum dolor sit amet, consectetur
                            <br>adipiscing elit. Cras tincidunt cursus leo
                            <br>nec placerat. Praesent facilisis elit libero,
                            <br>eget ornare turpis ultricies a.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block widget_tag_cloud">
                    <h4 class="widget_title">Tags</h4>
                    <div class="tagcloud"><a href="#">Travel</a><a href="#">Furniture</a><a href="#">Sport</a><a href="#">Yoga</a><a href="#">Food</a><a href="#">Interior</a>
                        <br><a href="#">Helth</a><a href="#">House</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block widget_categories">
                    <h4 class="widget_title">Categories</h4>
                    <ul>
                        <li><a href="#">Travel</a>
                        </li>
                        <li><a href="#">Furniture</a>
                        </li>
                        <li><a href="#">Sport</a>
                        </li>
                        <li><a href="#">Yoga</a>
                        </li>
                        <li><a href="#">Food</a>
                        </li>
                        <li><a href="#">Helth</a>
                        </li>
                        <li><a href="#">Interior</a>
                        </li>
                        <li><a href="#">House</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-lg-3">
                <div class="footer_block">
                    <h4 class="widget_title">Subscribe</h4>
                    <div class="wp_subscribe">
                        <form action="#">
                            <input type="text" name="email" placeholder="Your email" required>
                            <button class="btn_gurd"><i class="icon-mail-alt"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="socials_footer"><a href="#"><span class="icon-facebook"></span></a><a href="#"><span class="icon-instagram"></span></a><a href="#"><span class="icon-twitter"></span></a>
        </div>
        <div class="site_copy">Copyright © 2018. Gutengurd All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>
        </div>
    </div>
</footer>