<!-- main header -->
<header class="main_header transparen_bg_head">
    <div class="container-fluid no_padding clearfix">
        <div class="logo_head">
            <a href="index.html">
                <img src="__STATIC__/picture/logo.png" alt="">
            </a>
        </div>
        <div class="righthead_block">
            <div class="navbar-expand-lg nav_btn_toggle">
                <button class="navbar-toggler open_mobile_menu" type="button" data-target="#mobile_nav"><span class="butline"></span><span class="butline"></span><span class="butline"></span>
                </button>
            </div>
            <nav class="top_nav_links navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="topNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="current-menu-item"><a href="/"><span>首页</span></a>
                            </li>
                            <li><a href="author.html"><span>博主</span></a>
                            </li>
                            <li class="menu-item-has-children"><a href="page-about.html"><span>关于我</span></a>
                                <ul class="sub-menu">
                                    <li><a href="page-photo.html"><span>Photo</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="single.html"><span>Post</span></a>
                                <ul class="sub-menu">
                                    <li><a href="single-sidebar.html"><span>Post Sidebar</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="category.html"><span>分类</span></a>
                                <ul class="sub-menu">
                                    <li><a href="category.html"><span>Travel</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Furniture</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Sport</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Yoga</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Food</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Helth</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Interior</span></a>
                                    </li>
                                    <li><a href="category.html"><span>House</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            <div class="search_btn"><a href="#" data-target="#search_widow" class="search_show"><i class="fas fa-search"></i></a>
            </div>
            <div class="sidebar_btn"><a href="#" data-target="#float_bar_site" class="floatsidebar_show"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>
</header>
<!--END main header -->