<div class="header">
  <div class="hea-title">
    <div class="container">
      <a href="/" class="logo">
        <h1>{$config.system_name}</h1>
      </a>
      <div class="right">
        <form class="search" action="/news/search" method="GET">
          <div class="search_input">
            <input name="keyword" type="text" placeholder="请输入关键词">
          </div>
          <div class="search_btn"><button type="submit"></button></div>
        </form>
        <a href="/?lang={$switchLang}">
          EN
        </a>
      </div>
    </div>
  </div>
  <div class="nav">
    <div class="container">
      <ul>
        <li>
          <a href="/" {:setNavAvctive('index',$controllerName)}>首页</a>
        </li>
        <li>
          <a>研究院概况</a>
          <div class="nav_list">
            <ul>
              <li>
                <a href="/about/">研究院简介</a>
              </li>
              <li>
                <a href="/about/show/var/zhici/">{$singlepageArr['zhici']}</a>
              </li>
              <li>
                <a href="/about/show/var/jiyu/">{$singlepageArr['jiyu']}</a>
              </li>
              <li> <a href="/team/lishihui/">理事会成员</a> </li>
              <li> <a href="/team/zhuanjia">专家团队</a> </li>
              <li>
                <a href="/about/show/var/dashiji/">{$singlepageArr['dashiji']}</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <a>{$newsCategoryArr[1]}</a>
          <div class="nav_list">
            <ul>
              {volist name=":news_category_list(1)" id="vo"}
              <li><a href="/news/index/cid/{$vo.id}">
                  <p>{$vo.name}</p>
                </a></li>
              {/volist}
            </ul>
          </div>
        </li>
        <li>
          <a>{$newsCategoryArr[6]}</a>
          <div class="nav_list">
            <ul>
              {volist name=":news_category_list(6)" id="vo"}
              <li><a href="/news/index/cid/{$vo.id}">
                  <p>{$vo.name}</p>
                </a></li>
              {/volist}
            </ul>
          </div>
        </li>
        <li>
          <a>{$newsCategoryArr[12]}</a>
          <div class="nav_list">
            <ul>
              {volist name=":news_category_list(12)" id="vo"}
              <li><a href="/news/index/cid/{$vo.id}">
                  <p>{$vo.name}</p>
                </a></li>
              {/volist}
            </ul>
          </div>
        </li>

        <li>
          <a {:setNavAvctive('notice',$controllerName)}>研究院公告</a>
          <div class="nav_list">
            <ul>
              {volist name=":notice_category_list(3)" id="vo"}
              <li><a href="/notice/index/cid/{$vo.id}">
                  <p>{$vo.name}</p>
                </a></li>
              {/volist}
            </ul>
          </div>
        </li>
        <li>
          <a href="/recruit/" {:setNavAvctive('recruit',$controllerName)}>招贤纳士</a>
        </li>
        <li>
          <a href="/about/contact/" {:setNavAvctive('contact',$controllerName)}>联系我们</a>
        </li>
      </ul>
    </div>
  </div>
</div>


<div class="header-mobile">
  <h3><img src="__STATIC__/img/logo.png" alt=""></h3>
  <a href="javascript:;" class="right_btn click-sidebar">
    <img src="__STATIC__/img/icons-dark-menu.png" alt=""></a>
  <div class="menu_box">
    <div class="mask2"></div>
    <div class="sidebar">
      <a href="/" class="mobile-logo">
        <h1>{$config.system_name}</h1>
      </a>
      <a href="javascript:;" class="close-btn">
        <img src="__STATIC__/img/close_icon.png" alt=""></a>
      <div class="menu-list">
        <ul>
          <li>
            <a href="/" {:setNavAvctive('index',$controllerName)}>首页</a>
          </li>
          <li>
            <a>研究院概况</a>
            <div class="nav_list">
              <ul>
                <li>
                  <a href="/about/">研究院简介</a>
                </li>
                <li>
                  <a href="/about/show/var/zhici/">{$singlepageArr['zhici']}</a>
                </li>
                <li>
                  <a href="/about/show/var/jiyu/">{$singlepageArr['jiyu']}</a>
                </li>
                <li> <a href="/team/lishihui/">理事会成员</a> </li>
                <li> <a href="/team/zhuanjia">专家团队</a> </li>
                <li>
                  <a href="/about/show/var/dashiji/">{$singlepageArr['dashiji']}</a>
                </li>
              </ul>
            </div>
          </li>
          <li>
            <a>{$newsCategoryArr[1]}</a>
            <div class="nav_list">
              <ul>
                {volist name=":news_category_list(1)" id="vo"}
                <li><a href="/news/index/cid/{$vo.id}">
                    <p>{$vo.name}</p>
                  </a></li>
                {/volist}
              </ul>
            </div>
          </li>
          <li>
            <a>{$newsCategoryArr[6]}</a>
            <div class="nav_list">
              <ul>
                {volist name=":news_category_list(6)" id="vo"}
                <li><a href="/news/index/cid/{$vo.id}">
                    <p>{$vo.name}</p>
                  </a></li>
                {/volist}
              </ul>
            </div>
          </li>
          <li>
            <a>{$newsCategoryArr[12]}</a>
            <div class="nav_list">
              <ul>
                {volist name=":news_category_list(12)" id="vo"}
                <li><a href="/news/index/cid/{$vo.id}">
                    <p>{$vo.name}</p>
                  </a></li>
                {/volist}
              </ul>
            </div>
          </li>

          <li>
            <a {:setNavAvctive('notice',$controllerName)}>研究院公告</a>
            <div class="nav_list">
              <ul>
                {volist name=":notice_category_list(3)" id="vo"}
                <li><a href="/notice/index/cid/{$vo.id}">
                    <p>{$vo.name}</p>
                  </a></li>
                {/volist}
              </ul>
            </div>
          </li>
          <li>
            <a href="/recruit/" {:setNavAvctive('recruit',$controllerName)}>招贤纳士</a>
          </li>
          <li>
            <a href="/about/contact/" {:setNavAvctive('contact',$controllerName)}>联系我们</a>
          </li>
        </ul>
      </div>
      <div class="right">
        <a href="/?lang={$switchLang}">
          EN
        </a>
        <form class="search" action="/news/search" method="GET">
          <div class="search_input">
            <input name="keyword" type="text" placeholder="请输入关键词">
          </div>
          <div class="search_btn"><button type="submit"></button></div>
        </form>
      </div>
    </div>
  </div>
</div>