<!-- main header -->
<header class="main_header transparen_bg_head">
    <div class="container-fluid no_padding clearfix">
        <div class="logo_head">
            <a href="/">
                <img src="__STATIC__/picture/logo.png" alt="{$config.system_name}">
            </a>
        </div>
        <div class="righthead_block">
            <div class="navbar-expand-lg nav_btn_toggle">
                <button class="navbar-toggler open_mobile_menu" type="button" data-target="#mobile_nav"><span class="butline"></span><span class="butline"></span><span class="butline"></span>
                </button>
            </div>
            <nav class="top_nav_links navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="topNav">
                        <ul class="navbar-nav mr-auto">
                            <li class="{$controllerName=='INDEX' ? 'current-menu-item' : ''}"><a href="/" title="{$config.system_name}"><span>首页</span></a></li>
                            <li><a href="/author"><span>博主</span></a></li>
                            <li><a href="/about"><span>关于我</span></a></li>
                            <li class="menu-item-has-children"><a href="/news/"><span>分类</span></a>
                                <ul class="sub-menu">
                                    {volist name=':get_news_category_list()' id='vo'}
                                        <li><a href="{$vo.url}" title="{$vo.name}"><span>{$vo.name}</span></a></li>
                                    {/volist}


                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
            <div class="search_btn"><a href="#" data-target="#search_widow" class="search_show"><i class="fas fa-search"></i></a>
            </div>
            <div class="sidebar_btn"><a href="#" data-target="#float_bar_site" class="floatsidebar_show"><i class="fas fa-bars"></i></a>
            </div>
        </div>
    </div>
</header>
<!--END main header -->