<div class="mobile_nav" id="mobile_nav">
    <div class="mobile_nav_inner">
        <div class="mobile_nav_inner_wrapp">
            <ul>
                <li><a href="index.html"><span>Home</span></a>
                </li>
                <li class="current-menu-item"><a href="author.html"><span>Author</span></a>
                </li>
                <li class="menu-item-has-children"><a href="page-about.html"><span>About</span></a>
                    <ul class="sub-menu">
                        <li><a href="page-photo.html"><span>Photo</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="single.html"><span>Post</span></a>
                    <ul class="sub-menu">
                        <li><a href="single-sidebar.html"><span>Post Sidebar</span></a>
                        </li>
                    </ul>
                </li>
                <li class="menu-item-has-children"><a href="category.html"><span>Category</span></a>
                    <ul class="sub-menu">
                        <li><a href="category.html"><span>Travel</span></a>
                        </li>
                        <li><a href="category.html"><span>Furniture</span></a>
                        </li>
                        <li><a href="category.html"><span>Sport</span></a>
                        </li>
                        <li><a href="category.html"><span>Yoga</span></a>
                        </li>
                        <li><a href="category.html"><span>Food</span></a>
                        </li>
                        <li><a href="category.html"><span>Helth</span></a>
                        </li>
                        <li><a href="category.html"><span>Interior</span></a>
                        </li>
                        <li><a href="category.html"><span>House</span></a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="cover_mobile_menu" data-target="#mobile_nav"></div>
</div>