<div class="mobile_nav" id="mobile_nav">
    <div class="mobile_nav_inner">
        <div class="mobile_nav_inner_wrapp">
            <ul>
                <li><a href="/" title="{$config.system_name}"><span>首页</span></a>
                </li>
                <li class="current-menu-item"><a href="/author"><span>博主</span></a>
                </li>
                <li class="menu-item-has-children"><a href="/about"><span>关于我</span></a>
                </li>
                <li class="menu-item-has-children"><a href="/news/"><span>分类</span></a>
                    <ul class="sub-menu">
                        {volist name=':get_news_category_list()' id='vo'}
                        <li><a href="{$vo.url}" title="{$vo.name}"><span>{$vo.name}</span></a></li>
                        {/volist}
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="cover_mobile_menu" data-target="#mobile_nav"></div>
</div>