<!--
 * @Author: 莫卓才
 * @eMail: handsome.mo@foxmail.com
 * @Descripttion: 描述
 * @version: 1.0.0
 * @Date: 2020-03-23 09:58:00
 * @LastEditors: 莫卓才
 * @LastEditTime: 2020-06-11 09:58:15
 -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE9" />
  <meta name="viewport"
    content="width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no" />
  <meta name="format-detection" content="telephone=no">
  <meta name="robots" content="all">
  <meta name="author" content="Tencent-CP">
  <meta name="Copyright" content="Tencent">
  <meta name="Description" content="{$config.system_name}">
  <meta name="Keywords" content="{$config.system_name}">
  <title>{$categoryName} - {$config.system_name}</title>
  <link rel="stylesheet" href="__STATIC__/css/swiper.min.css">
  <link rel="stylesheet" href="__STATIC__/css/animate.css">
  <link rel="stylesheet" href="__STATIC__/css/base.css">
  <link rel="stylesheet" href="__STATIC__/css/main.css">

</head>

<body>
  {include file="common:header" /}
  <div class="box-main">
    <div class="container">
      {include file="about:about_column" /}
      <div class="wrapper">
        <div class="head">
          <img src="__STATIC__/img/home.png" alt="">
          <p>Current Location：</p>
          <p><a href="/">Home&gt;</a></p>
          <p>{$categoryName}</p>
        </div>
        <div class="about">
          <h3>{$categoryName}</h3>
          <ul>
            {volist name="list" id="vo"}
            <li>
              <a href="{$vo.url}">
                <div class="avatar">
                  <img src="{$vo.thumb}" alt="">
                </div>
                <h5>{$vo.title}</h5>
                <p>{$vo.position}</p>
                <!-- <div class="info" style="height: 160px; overflow: hidden;">
                  {$vo.description|raw}
                </div> -->
              </a>
            </li>
            {/volist}

          </ul>
        </div>
        {$page|raw}
      </div>
    </div>
  </div>
  {include file="common:footer" /}
</body>
<script src="__STATIC__/js/jquery-3.4.1.min.js"></script>
<script src="__STATIC__/js/swiper.min.js"></script>
<script src="__STATIC__/js/main.js"></script>

</html>