<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{$config.index_title}</title>
<meta name="keywords" content="{$config.index_keywords}"/>
<meta name="description" content="{$config.index_description}"/>

<!--Main style css-->
<link rel="stylesheet" href="static/default/css/style.css">
<!--Active Color css-->
<link rel="stylesheet" href="static/default/css/default-colors.css">
<!--Responsive style css-->
<link rel="stylesheet" href="static/default/css/responsive.css">
</head>

<body class="bodypadding">
    <!--Preloader-->
    <div class="preloader"><i class="icon-spin2"></i>
    </div>
    <!--END Preloader-->
    <!--ScrollTop Btn-->
    <div class="scroll_up gutengard_btn"><i class="icon-up-open-big"></i>
    </div>
    <!--END ScrollTop Btn-->
    <!--Mobile Menu-->
    {include file="common:mobile_nav" /}
    <!--END Mobile Menu-->
    <!--Search-->
    {include file="common:searchform" /}
    <!--END Search-->
    <!--Float Sidebar-->
    {include file="common:float_bar_site" /}
    <!--END Float Sidebar-->
    {include file="common:header" /}
    <!--Big SLider-->
    <div class="main_slider_post_cat">
        <div class="lateps_postslides">
            <div class="latestposts_slider owl-carousel">

                {volist name="newsToppedList" id="vo"}
                <!--Slider Latest Post-->
                <div class="item postbgslide1">
                    <div class="post_data_cr"><span class="day">{$vo.update_time|date='d'}</span>
                        <div class="month">{$vo.update_time|date='m'}</div>
                        <div class="year">{$vo.update_time|date='Y'}</div>
                    </div>
                    <div class="post_info_wrapper">
                        <h2 class="post_name">{$vo.title}</h2>
                        <div class="short_desc_post">
                            <p>{$vo.description}</p>
                        </div>
                        <div class="seea_more"><a href="{$vo.url}">查看详情<i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <img src="{$vo.thumb}" alt="{$vo.title}">
                </div>
                <!--END Slider Latest Post-->
                {/volist}

            </div>
        </div>

        <div class="categories_wrapper">
            <div class="categories_slides owl-carousel">
                {volist name="newsRecommendedTree" id="vo" offset="0" length='4'}
                <div class="item">
                    {volist name="vo.sub" id="v"}
                    <div class="category_box catbg1">
                        <a href="{$v.url}" title="{$v.title}">
                            <img src="{$v.thumb}" alt="{$v.title}"><span class="name_cat">{$v.title}</span>
                        </a>
                    </div>
                    {/volist}
                </div>
                {/volist}

            </div>
        </div>
    </div>
    <!--END Big SLider-->

    <div class="page_container_wrapper">
        <div class="container-fluid no_padding scrollanimation" data-animation="fadeIn" data-timeout="200">

            {volist name="newsTree" id="vo" mod="2"}
                
                    <div class="blog_list_post clearfix">
                        {volist name="vo.sub" id="v"}
                        <!--Post Box-->
                        <div class="blog_post_box clearfix">
                            <div class="blog_post_item">
                                <h2 class="post_name"><a href="{$v.url}" title="{$v.title}">{$v.title}</a></h2>
                                <div class="post_data"><span class="category">{$v.category_name}</span><span class="comments_count"><i class="fas fa-comments"></i>{$v.comments}</span><span class="reviews_count"><i class="fas fa-eye"></i>{$v.clicks}</span></div>
                                <div class="short_desc_post">
                                    <p>{$v.description}</p>
                                </div>
                                <div class="seea_more"><a href="{$v.url}">查看详情<i class="icon-right-open-big"></i></a>
                                </div>
                            </div>
                            <div class="blog_post_item_image {eq name='mod' value='0'} postbg10 {else /} postbg11 {/eq}">
                                <div class="post_data_cr"><span class="day">{$v.update_time|date='m'}</span>
                                    <div class="month">{$v.update_time|date='m'}</div>
                                    <div class="year">{$v.update_time|date='m'}</div>
                                </div>
                                <a href="{$v.url}" class="post_link_image">
                                    <img src="{$v.thumb}" alt="">
                                </a>
                            </div>
                        </div>
                        <!--END Post Box-->
                        {/volist}
                    </div>
  

            {/volist}


        </div>
        <div class="text-center btn_loadmore"><a href="/news/" class="btn_gurd btn_gurd_trp btn_gurd_i loadmore_btn">加载更多 <i class="fas fa-spinner"></i></a>
        </div>
        <!--Pagination-->
        <!-- <div class="text-center"><nav class="page_pagination_wrapper margin50_0_0_0"><ul class="page-numbers"><li><a class="prev page-numbers" href="#"><i class="icon-left-open-big"></i></a></li><li><span aria-current="page" class="page-numbers current">1</span></li><li><a class="page-numbers" href="#">2</a></li><li><a class="page-numbers" href="#">3</a></li><li><a class="next page-numbers" href="#"><i class="icon-right-open-big"></i></a></li></ul></nav></div> -->
        <!--END Pagination-->
    </div>
    <div class="before_footer_area">
        <div class="container-fluid no_padding">
            <!--Widhet-->
            <div class="sidebar_block float_sidebar_widget">
                <div class="instagram-fee">
                    <ul class="instagram-pics instagram-size-large">
                        <li>
                            <a href="__STATIC__/picture/instthumblarge1.jpg" class="popupimg hover_light scrollanimation" data-animation="fadeInUp" data-timeout="200">
                                <img src="__STATIC__/picture/instthumblarge1.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/picture/instthumblarge2.jpg" class="popupimg hover_light scrollanimation" data-animation="fadeInUp" data-timeout="300">
                                <img src="__STATIC__/picture/instthumblarge2.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/picture/instthumblarge3.jpg" class="popupimg hover_light scrollanimation" data-animation="fadeInUp" data-timeout="400">
                                <img src="__STATIC__/picture/instthumblarge3.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/picture/instthumblarge4.jpg" class="popupimg hover_light scrollanimation" data-animation="fadeInUp" data-timeout="500">
                                <img src="__STATIC__/picture/instthumblarge4.jpg" alt="">
                            </a>
                        </li>
                        <li>
                            <a href="__STATIC__/picture/instthumblarge5.jpg" class="popupimg hover_light scrollanimation" data-animation="fadeInUp" data-timeout="600">
                                <img src="__STATIC__/picture/instthumblarge5.jpg" alt="">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <!--END Widhet-->
        </div>
    </div>
    {include file="common:footer" /}
    <!-- JS -->
    <!--jQuery 1.12.4 google link-->
    <script src="__STATIC__/js/jquery.min.js"></script>
    <!--Bootstrap 4.1.0-->
    <script src="__STATIC__/js/bootstrap.min.js"></script>
    <!--jquery.magnific-popup-->
    <script src="__STATIC__/js/jquery.magnific-popup.min.js"></script>
    <!--OWL Carousel-->
    <script src="__STATIC__/js/owl.carousel.min.js"></script>
    <!--Custom js-->
    <script src="__STATIC__/js/custom.js"></script>

</body>

</html>