<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>{$info.title} - {$config.system_name}</title>
<meta name="keywords" content="{$info.keywords}"/>
<meta name="description" content="{$info.description}"/>

<!--Main style css-->
<link rel="stylesheet" href="__STATIC__/css/style.css">
<!--Active Color css-->
<link rel="stylesheet" href="__STATIC__/css/default-colors.css">
<!--Responsive style css-->
<link rel="stylesheet" href="__STATIC__/css/responsive.css">
</head>

<body class="bodypadding">
<!--Preloader-->
<div class="preloader"><i class="icon-spin2"></i>
</div>
<!--END Preloader-->
<!--ScrollTop Btn-->
<!--END ScrollTop Btn-->
<div class="scroll_up gutengard_btn"><i class="icon-up-open-big"></i>
</div>
<!--Mobile Menu-->
{include file="common:mobile_nav" /}
<!--END Mobile Menu-->
<!--Search-->
{include file="common:searchform" /}
<!--END Search-->
<!--Float Sidebar-->
{include file="common:float_bar_site" /}
<!--END Float Sidebar-->
{include file="common:header" /}
<!--Big SLider-->
<!--Single no Sidebar-->
<div class="container no_padding single_nosidebar">
    <div class="row">
        <div class="col-lg-12">
            <!--Preview Image-->

            {notempty name="info.thumb"}
                <!-- <div class="post_preview_image">
                    <img src="{$info.thumb}" alt="{$info.title}">
                </div> -->
            {/notempty}
            
            <!--END Preview Image-->
            <div class="post_single_container clearfix">
                <div class="single_post_content">
                    <!--Breadcrumbs-->
                    <div class="breadcrumbs">
                        <!--Post Data-->
                        <!-- <div class="post_data_publiс">11 Jun 2018</div> -->
                        <!--END Post Data-->
                        <ul class="page-list">
                            <li class="first-item"><a href="/">首页</a></li>
                            <li><i class="icon-right-open-big"></i> </li>
                            <li><a href="/news/list-{$info.category_id}.html">{$currentCategoryName}</a> </li>
<!--                            <li><i class="icon-right-open-big"></i> </li>-->
                            <!-- <li>Choose The Training That’s Right For You</li> -->
                        </ul>
                    </div>
                    <!--END Breadcrumbs-->
                    <h1>{$info.title}</h1>
                    {$info.content|raw}
                    <!--Post Category and Tags-->
                    <!-- <div class="post_datainfo">
                        <div class="post_datainfo_item tagspost"><span class="tagpostname">Tags:</span><a href="#">Travel</a><a href="#">Furniture</a><a href="#">Sport</a>
                        </div>
                        <div class="post_datainfo_item categoriesspost"><span class="catspostname">Category:</span><a href="../category.html">Travel</a>, <a href="../category.html">Helth</a>, <a href="../category.html">Yoga</a>
                        </div>
                    </div> -->
                    <!--END Post Category and Tags-->
                    <div class="action-count"><span class="comments_count"><i class="fas fa-comments"></i>{$info.clicks} 评论</span><span class="reviews_count"><i class="fas fa-eye"></i>{$info.clicks} 查看</span>
                    </div>
                </div>
            </div>
            <!-- <div class="author_box_post">
                <div class="author_box clearfix">
                    <div class="autor_img_wrapp">
                        <div class="author_image">
                            <a href="author.html">
                                <img src="__STATIC__/picture/author.jpg" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="short_autord_desc">
                        <div class="author_name"><a href="author.html">Lesya Gopko</a>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros.</p>
                        <div class="author_socials"><a href="#"><span class="icon-facebook"></span></a><a href="#"><span class="icon-twitter"></span></a>
                        </div>
                    </div>
                </div>
            </div> -->
            <!--Post Nav-->
            <div class="post_navigation clearfix">
                {notempty name="prev"}
                    <div class="prevous_post">
                        <div class="prev_img">
                            <a href="{$prev.url}"> <img src="{$prev.thumb}" alt=""> </a>
                        </div>
                        <div class="link_post"><a href="{$prev.url}"><span class="nav_arrow">← 上一篇</span>{$prev.title}</a>
                        </div>
                    </div>
                {/notempty}
                

                {notempty name="next"}
                    <div class="next_post">
                    <div class="prev_img">
                        <a href="{$next.url}"> <img src="{$next.thumb}" alt=""> </a>
                    </div>
                    <div class="link_post"><a href="{$next.url}"><span class="nav_arrow">下一篇 →</span>{$next.title}</a>
                    </div>
                </div>
                {/notempty}

                
            </div>
            <!--END Post Nav-->
            <!-- <div class="comments-area">
                <h3 class="comment_titleform">Leave a Comment</h3>
                <div class="block">
                    <ul class="comment-list">
                        <li class="comment">
                            <div class="single-comment clearfix">
                                <div class="comment-author">
                                    <div class="inner-author">
                                        <div class="avatar_comment">
                                            <img src="__STATIC__/picture/author1.jpg" alt="">
                                        </div>
                                        <div class="author-name">Joan Lima</div>
                                        <div class="comment-date">17 Oct 2018</div>
                                    </div>
                                    <div class="comment-reply"><a href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <p>You know how at the beginning and end of a yoga class, practitioners put their hands in a prayer position and say Namaste? Why do they do that? As a casual yoga practitioner, I admit there are probably some deeper,
                                        more meaningful reasons that I don’t know about. What I do know is this: In yoga, there is an emphasis on both clearing and cultivating the space and energy within the body.</p>
                                </div>
                            </div>
                            <ul class="children">
                                <li class="comment">
                                    <div class="single-comment clearfix">
                                        <div class="comment-author">
                                            <div class="inner-author">
                                                <div class="avatar_comment">
                                                    <img src="__STATIC__/picture/author2.jpg" alt="">
                                                </div>
                                                <div class="author-name">Miu onuka</div>
                                                <div class="comment-date">17 Oct 2018</div>
                                            </div>
                                            <div class="comment-reply"><a href="#">Reply</a>
                                            </div>
                                        </div>
                                        <div class="comment-text">
                                            <p>You know how at the beginning and end of a yoga class, practitioners put their hands in a prayer position and say Namaste? Why do they do that? As a casual yoga practitioner, I admit there are probably some
                                                deeper, more meaningful reasons that I don’t know about. What I do know is this: In yoga, there is an emphasis on both clearing and cultivating the space and energy within the body.</p>
                                        </div>
                                    </div>
                                    <ul class="children">
                                        <li class="comment">
                                            <div class="single-comment clearfix">
                                                <div class="comment-author">
                                                    <div class="inner-author">
                                                        <div class="avatar_comment">
                                                            <img src="__STATIC__/picture/author3.jpg" alt="">
                                                        </div>
                                                        <div class="author-name">Helen</div>
                                                        <div class="comment-date">23 Oct 2018</div>
                                                    </div>
                                                    <div class="comment-reply"><a href="#">Reply</a>
                                                    </div>
                                                </div>
                                                <div class="comment-text">
                                                    <p>You know how at the beginning and end of a yoga class, practitioners put their hands in a prayer position and say Namaste? Why do they do that? As a casual yoga practitioner, I admit there are probably
                                                        some deeper, more meaningful reasons that I don’t know about. What I do know is this: In yoga, there is an emphasis on both clearing and cultivating the space and energy within the body.</p>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="comment">
                            <div class="single-comment clearfix">
                                <div class="comment-author">
                                    <div class="inner-author">
                                        <div class="avatar_comment">
                                            <img src="__STATIC__/picture/author4.jpg" alt="">
                                        </div>
                                        <div class="author-name">Olga</div>
                                        <div class="comment-date">27 Oct 2018</div>
                                    </div>
                                    <div class="comment-reply"><a href="#">Reply</a>
                                    </div>
                                </div>
                                <div class="comment-text">
                                    <p>You know how at the beginning and end of a yoga class, practitioners put their hands in a prayer position and say Namaste? Why do they do that? As a casual yoga practitioner, I admit there are probably some deeper,
                                        more meaningful reasons that I don’t know about. What I do know is this: In yoga, there is an emphasis on both clearing and cultivating the space and energy within the body.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="comment-respond">
                    <form action="#" class="comment-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="custom-field">
                                    <input name="author" type="text" placeholder="Your Name*" required>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="custom-field">
                                    <input name="email" type="text" placeholder="Your Email*" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="custom-field">
                                    <textarea id="comment" name="comment" rows="7" placeholder="Your Comment..." required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="text-right">
                            <button class="btn_gurd btn_send">Submit</button>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
</div>
<!--END Single no Sidebar-->
{include file="common:footer" /}
<!-- JS -->
<!--jQuery 1.12.4 google link-->
<script src="__STATIC__/js/jquery.min.js"></script>
<!--Bootstrap 4.1.0-->
<script src="__STATIC__/js/bootstrap.min.js"></script>
<!--jquery.magnific-popup-->
<script src="__STATIC__/js/jquery.magnific-popup.min.js"></script>
<!--OWL Carousel-->
<script src="__STATIC__/js/owl.carousel.min.js"></script>
<!--Custom js-->
<script src="__STATIC__/js/custom.js"></script>
<!-- <div class="colorpicker">
    <div class="btncoloropen"><i class="fas fa-palette"></i>
    </div>
    <div class="pickername">Active Theme Color</div>
    <div class="colbtn active" data-color="default-colors"></div>
    <div class="colbtn" data-color="blue-colors"></div>
    <div class="colbtn" data-color="green-colors"></div>
    <div class="colbtn" data-color="pink-colors"></div>
    <div class="colbtn" data-color="purple2-colors"></div>
    <div class="colbtn" data-color="purple-colors"></div>
    <div class="colbtn" data-color="sky-colors"></div>
    <div class="colbtn" data-color="yellow-colors"></div>
    <style>
        .btncoloropen {
            position: absolute;
            left: -50px;
            top: 0;
            width: 50px;
            height: 50px;
            cursor: pointer;
            color: #000;
            line-height: 50px;
            font-size: 20px;
            text-align: center;
            background-color: #fff;
        }

        .colorpicker {
            position: fixed;
            top: 130px;
            right: -200px;
            background-color: #fff;
            padding: 17px 20px;
            max-width: 200px;
            z-index: 1000;
            transition: all .3s;
        }

        .colorpicker.opened {
            right: 0;
            transition: all .3s;
        }

        .pickername {
            font-size: 12px;
            font-weight: 600;
            margin-bottom: 5px;
        }

        .colbtn {
            display: inline-block;
            width: 50px;
            height: 50px;
            cursor: pointer;
        }

        .colbtn.active {
            box-shadow: inset 0 0 0 8px #ffffff8c;
        }

        .colbtn[data-color="default-colors"] {
            background-color: #FBCB47;
        }

        .colbtn[data-color="blue-colors"] {
            background-color: #70b0ff;
        }

        .colbtn[data-color="pink-colors"] {
            background-color: #fe2fd1;
        }

        .colbtn[data-color="green-colors"] {
            background-color: #45f718;
        }

        .colbtn[data-color="purple2-colors"] {
            background-color: #dcb5ff;
        }

        .colbtn[data-color="purple-colors"] {
            background-color: #ff6bbd;
        }

        .colbtn[data-color="sky-colors"] {
            background-color: #2ffeeb;
        }

        .colbtn[data-color="yellow-colors"] {
            background-color: #f3ec0a;
        }
    </style>
    <script>
        $(window).on('load', function() {
            $('.btncoloropen').on('click', function() {
                $(this).parent().toggleClass('opened');
            });
            $('.colbtn').on('click', function() {
                $('.colbtn').removeClass('active');
                $(this).addClass('active');
                if ($(this).data('color') != 'default-colors') {
                    $('#customizercss').remove();
                    $('link[href="assets/css/colors/default-colors.css"]').after('<link id="customizercss" rel="stylesheet" href="__STATIC__/css/fa3b73d24f06457e90f73bcf2e9f88f7.css' + jQuery(this).data('color') + '.css">');
                } else {
                    $('head #customizercss').remove();
                } if ($(this).data('color') == 'green-colors') {
                    $('.logo_head img').attr('src', 'demoimg/greenlogo.png');
                }
                if ($(this).data('color') == 'blue-colors') {
                    $('.logo_head img').attr('src', 'demoimg/bluelogo.png');
                }
                if ($(this).data('color') == 'pink-colors') {
                    $('.logo_head img').attr('src', 'demoimg/pinklogo.png');
                }
                if ($(this).data('color') == 'purple2-colors') {
                    $('.logo_head img').attr('src', 'demoimg/purplelogo.png');
                }
                if ($(this).data('color') == 'purple-colors') {
                    $('.logo_head img').attr('src', 'demoimg/purplelogo.png');
                }
                if ($(this).data('color') == 'sky-colors') {
                    $('.logo_head img').attr('src', 'demoimg/skylogo.png');
                }
                if ($(this).data('color') == 'yellow-colors') {
                    $('.logo_head img').attr('src', 'demoimg/yellowlogo.png');
                }
                if ($(this).data('color') == 'default-colors') {
                    $('.logo_head img').attr('src', 'assets/images/logo.png');
                }
            })
        });
    </script>
</div> -->
</body>

</html>