<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Gutengurd - Category</title>
    <!--Main style css-->
    <link rel="stylesheet" href="static/css/style.css">
    <!--Active Color css-->
    <link rel="stylesheet" href="static/css/default-colors.css">
    <!--Responsive style css-->
    <link rel="stylesheet" href="static/css/responsive.css">
</head>

<body class="bodypadding">
    <!--Preloader-->
    <div class="preloader"><i class="icon-spin2"></i>
    </div>
    <!--END Preloader-->
    <!--ScrollTop Btn-->
    <!--END ScrollTop Btn-->
    <div class="scroll_up gutengard_btn"><i class="icon-up-open-big"></i>
    </div>
    <!--Mobile Menu-->
    <div class="mobile_nav" id="mobile_nav">
        <div class="mobile_nav_inner">
            <div class="mobile_nav_inner_wrapp">
                <ul>
                    <li><a href="index.html"><span>Home</span></a>
                    </li>
                    <li><a href="author.html"><span>Author</span></a>
                    </li>
                    <li class="menu-item-has-children"><a href="page-about.html"><span>About</span></a>
                        <ul class="sub-menu">
                            <li><a href="page-photo.html"><span>Photo</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children"><a href="single.html"><span>Post</span></a>
                        <ul class="sub-menu">
                            <li><a href="single-sidebar.html"><span>Post Sidebar</span></a>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item-has-children current-menu-item"><a href="category.html"><span>Category</span></a>
                        <ul class="sub-menu">
                            <li><a href="category.html"><span>Travel</span></a>
                            </li>
                            <li><a href="category.html"><span>Furniture</span></a>
                            </li>
                            <li><a href="category.html"><span>Sport</span></a>
                            </li>
                            <li><a href="category.html"><span>Yoga</span></a>
                            </li>
                            <li><a href="category.html"><span>Food</span></a>
                            </li>
                            <li><a href="category.html"><span>Helth</span></a>
                            </li>
                            <li><a href="category.html"><span>Interior</span></a>
                            </li>
                            <li><a href="category.html"><span>House</span></a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <div class="cover_mobile_menu" data-target="#mobile_nav"></div>
    </div>
    <!--END Mobile Menu-->
    <!--Search-->
    <div class="search_popup_window d-flex align_items_center justify_content_center" id="search_widow">
        <form class="searchform">
            <input type="text" name="s" placeholder="Search" />
            <div class="close_search_window" data-target="#search_widow"><i class="icon-delete-cross"></i>
            </div>
        </form>
    </div>
    <!--END Search-->
    <!--Float Sidebar-->
    <div class="float_bar" id="float_bar_site">
        <div class="float_bar_inner">
            <div class="float_bar_over_wrapp">
                <!--Widget-->
                <div class="sidebar_block float_sidebar_widget">
                    <div class="widget_recent_image">
                        <h4 class="widget_title">Latest Posts</h4>
                        <div class="widget_recent_post">
                            <ul>
                                <li>
                                    <div class="post_thumb">
                                        <a href="single.html">
                                            <img src="static/picture/thumb1.jpg" alt="">
                                        </a>
                                    </div>
                                    <h6 class="post_name"><a href="single.html">The food heaven mission</a></h6>
                                    <div class="post_data_recent">
                                        <div class="post_data"><i class="fas fa-clock"></i>October 3, 2018</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post_thumb">
                                        <a href="single.html">
                                            <img src="static/picture/thumb3.jpg" alt="">
                                        </a>
                                    </div>
                                    <h6 class="post_name"><a href="single.html">Consider hiring a designer</a></h6>
                                    <div class="post_data_recent">
                                        <div class="post_data"><i class="fas fa-clock"></i>September 21, 2018</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post_thumb">
                                        <a href="single.html">
                                            <img src="static/picture/thumb4.jpg" alt="">
                                        </a>
                                    </div>
                                    <h6 class="post_name"><a href="single.html">Choose The Training That’s Right For You</a></h6>
                                    <div class="post_data_recent">
                                        <div class="post_data"><i class="fas fa-clock"></i>August 3, 2018</div>
                                    </div>
                                </li>
                                <li>
                                    <div class="post_thumb">
                                        <a href="single.html">
                                            <img src="static/picture/thumb5.jpg" alt="">
                                        </a>
                                    </div>
                                    <h6 class="post_name"><a href="single.html">6 Ways Make Yourself a Morning Person</a></h6>
                                    <div class="post_data_recent">
                                        <div class="post_data"><i class="fas fa-clock"></i>August 1, 2018</div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--END Widhet-->
                <!--Widhet-->
                <div class="sidebar_block float_sidebar_widget">
                    <h4 class="widget_title">Instagram</h4>
                    <div class="instagram-fee">
                        <ul class="instagram-pics instagram-size-thumbnail">
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb1.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb2.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb3.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb4.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb5.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb6.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb7.jpg" alt="">
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="static/picture/instthumb8.jpg" alt="">
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!--END Widhet-->
                <!--Widhet-->
                <div class="sidebar_block float_sidebar_widget">
                    <h4 class="widget_title">Search</h4>
                    <div class="widget_search">
                        <form id="searchform" class="searchform">
                            <input type="text" placeholder="Search" required>
                            <button type="submit" class="search-submit btn_gurd"><i class="fas fa-search"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <!--END Widhet-->
                <!--Widhet-->
                <div class="sidebar_block float_sidebar_widget widget_categories">
                    <h4 class="widget_title">Categories</h4>
                    <ul>
                        <li><a href="#">Travel</a>
                        </li>
                        <li><a href="#">Furniture</a>
                        </li>
                        <li><a href="#">Sport</a>
                        </li>
                        <li><a href="#">Yoga</a>
                        </li>
                        <li><a href="#">Food</a>
                        </li>
                        <li><a href="#">Helth</a>
                        </li>
                        <li><a href="#">Interior</a>
                        </li>
                        <li><a href="#">House</a>
                        </li>
                    </ul>
                </div>
                <!--END Widhet-->
                <!--Widhet-->
                <div class="sidebar_block float_sidebar_widget">
                    <h4 class="widget_title">Subscribe</h4>
                    <div class="wp_subscribe">
                        <form action="#">
                            <input type="text" name="email" placeholder="Your email" required="">
                            <button class="btn_gurd"><i class="fas fa-envelope"></i>
                            </button>
                        </form>
                    </div>
                </div>
                <!--END Widhet-->
            </div>
            <button class="close_float_sidebar" type="button" data-target="#float_bar_site"><i class="navbar-toggler-icon"><i class="icon-delete-cross"></i></i>
            </button>
        </div>
        <div class="cover_float_sidebar" data-target="#float_bar_site"></div>
    </div>
    <!--END Float Sidebar-->
    <!-- main header -->
    <header class="main_header fixed_header transparen_bg_head">
        <div class="container-fluid no_padding clearfix">
            <div class="logo_head">
                <a href="index.html">
                    <img src="static/picture/logo.png" alt="">
                </a>
            </div>
            <div class="righthead_block">
                <div class="navbar-expand-lg nav_btn_toggle">
                    <button class="navbar-toggler open_mobile_menu" type="button" data-target="#mobile_nav"><span class="butline"></span><span class="butline"></span><span class="butline"></span>
                    </button>
                </div>
                <nav class="top_nav_links navbar navbar-expand-lg">
                    <div class="collapse navbar-collapse" id="topNav">
                        <ul class="navbar-nav mr-auto">
                            <li><a href="index.html"><span>Home</span></a>
                            </li>
                            <li><a href="author.html"><span>Author</span></a>
                            </li>
                            <li class="menu-item-has-children"><a href="page-about.html"><span>About</span></a>
                                <ul class="sub-menu">
                                    <li><a href="page-photo.html"><span>Photo</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><a href="single.html"><span>Post</span></a>
                                <ul class="sub-menu">
                                    <li><a href="single-sidebar.html"><span>Post Sidebar</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children current-menu-item"><a href="category.html"><span>Category</span></a>
                                <ul class="sub-menu">
                                    <li><a href="category.html"><span>Travel</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Furniture</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Sport</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Yoga</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Food</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Helth</span></a>
                                    </li>
                                    <li><a href="category.html"><span>Interior</span></a>
                                    </li>
                                    <li><a href="category.html"><span>House</span></a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="search_btn"><a href="#" data-target="#search_widow" class="search_show"><i class="fas fa-search"></i></a>
                </div>
                <div class="sidebar_btn"><a href="#" data-target="#float_bar_site" class="floatsidebar_show"><i class="fas fa-bars"></i></a>
                </div>
            </div>
        </div>
    </header>
    <!--END main header -->
    <!--Category header-->
    <div class="category_header header_image box_overlay d-flex align_items_center justify_content_center categorybg1">
        <h1 class="cat_title">Travels</h1>
        <div class="breadcrumbs">
            <ul class="page-list">
                <li class="first-item"><a href="index.html">Home</a>
                </li>
                <li><i class="icon-right-open-big"></i>
                </li>
                <li>Travels</li>
            </ul>
        </div>
    </div>
    <!--END Category header-->
    <div class="page_container_wrapper">
        <div class="container-fluid no_padding">
            <div class="blog_list_post clearfix">
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">Coral Bay: My Beach Paradise</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>7</span><span class="reviews_count"><i class="fas fa-eye"></i>27</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg10">
                        <div class="post_data_cr"><span class="day">11</span>
                            <div class="month">Jun</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">Where i find the best travel deals</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>11</span><span class="reviews_count"><i class="fas fa-eye"></i>1010</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg11">
                        <div class="post_data_cr"><span class="day">1</span>
                            <div class="month">May</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
            </div>
            <div class="blog_list_post clearfix">
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">Hot sand tunisia</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>27</span><span class="reviews_count"><i class="fas fa-eye"></i>793</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg12">
                        <div class="post_data_cr"><span class="day">3</span>
                            <div class="month">May</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">8 Alternative Budget Bacation Deals</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>173</span><span class="reviews_count"><i class="fas fa-eye"></i>7007</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg3">
                        <div class="post_data_cr"><span class="day">5</span>
                            <div class="month">Aug</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
            </div>
            <div class="blog_list_post clearfix">
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">Scandinavian fjords</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>37</span><span class="reviews_count"><i class="fas fa-eye"></i>1003</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg13">
                        <div class="post_data_cr"><span class="day">27</span>
                            <div class="month">Sep</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
                <!--Post Box-->
                <div class="blog_post_box clearfix">
                    <div class="blog_post_item">
                        <h2 class="post_name"><a href="single.html">Incredible places for photos</a></h2>
                        <div class="post_data"><span class="category">Travel</span><span class="comments_count"><i class="fas fa-comments"></i>10</span><span class="reviews_count"><i class="fas fa-eye"></i>170</span>
                        </div>
                        <div class="short_desc_post">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tincidunt cursus leo nec placerat. Praesent facilisis elit libero, eget ornare turpis ultricies a. In in ex vel metus dignissim blandit non et eros. Integer ac viverra
                                diam, nec euismod est. Sed sed nisl sit amet massa convallis dapibus...</p>
                        </div>
                        <div class="seea_more"><a href="single.html">View More <i class="icon-right-open-big"></i></a>
                        </div>
                    </div>
                    <div class="blog_post_item_image postbg4">
                        <div class="post_data_cr"><span class="day">18</span>
                            <div class="month">Sep</div>
                            <div class="year">2018</div>
                        </div>
                        <a href="single.html" class="post_link_image">
                            <img src="static/picture/postimagebox.png" alt="">
                        </a>
                    </div>
                </div>
                <!--END Post Box-->
            </div>
        </div>
        <div class="text-center btn_loadmore"><a href="#" class="btn_gurd btn_gurd_trp btn_gurd_i loadmore_btn">Load More <i class="fas fa-spinner"></i></a>
        </div>
    </div>
    <footer class="mainfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-3">
                    <div class="footer_block">
                        <h4 class="widget_title">About Blog</h4>
                        <div class="textwidget">
                            <p>Lorem ipsum dolor sit amet, consectetur
                                <br>adipiscing elit. Cras tincidunt cursus leo
                                <br>nec placerat. Praesent facilisis elit libero,
                                <br>eget ornare turpis ultricies a.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_block widget_tag_cloud">
                        <h4 class="widget_title">Tags</h4>
                        <div class="tagcloud"><a href="#">Travel</a><a href="#">Furniture</a><a href="#">Sport</a><a href="#">Yoga</a><a href="#">Food</a><a href="#">Interior</a>
                            <br><a href="#">Helth</a><a href="#">House</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_block widget_categories">
                        <h4 class="widget_title">Categories</h4>
                        <ul>
                            <li><a href="#">Travel</a>
                            </li>
                            <li><a href="#">Furniture</a>
                            </li>
                            <li><a href="#">Sport</a>
                            </li>
                            <li><a href="#">Yoga</a>
                            </li>
                            <li><a href="#">Food</a>
                            </li>
                            <li><a href="#">Helth</a>
                            </li>
                            <li><a href="#">Interior</a>
                            </li>
                            <li><a href="#">House</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-lg-3">
                    <div class="footer_block">
                        <h4 class="widget_title">Subscribe</h4>
                        <div class="wp_subscribe">
                            <form action="#">
                                <input type="text" name="email" placeholder="Your email" required>
                                <button class="btn_gurd"><i class="icon-mail-alt"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="socials_footer"><a href="#"><span class="icon-facebook"></span></a><a href="#"><span class="icon-instagram"></span></a><a href="#"><span class="icon-twitter"></span></a>
            </div>
            <div class="site_copy">Copyright © 2018. Gutengurd All rights <a href="http://www.bootstrapmb.com/" title="bootstrapmb">Reserved</a>
            </div>
        </div>
    </footer>
    <!-- JS -->
    <!--jQuery 1.12.4 google link-->
    <script src="static/js/jquery.min.js"></script>
    <!--Bootstrap 4.1.0-->
    <script src="static/js/bootstrap.min.js"></script>
    <!--jquery.magnific-popup-->
    <script src="static/js/jquery.magnific-popup.min.js"></script>
    <!--OWL Carousel-->
    <script src="static/js/owl.carousel.min.js"></script>
    <!--Custom js-->
    <script src="static/js/custom.js"></script>
    <div class="colorpicker">
        <div class="btncoloropen"><i class="fas fa-palette"></i>
        </div>
        <div class="pickername">Active Theme Color</div>
        <div class="colbtn active" data-color="default-colors"></div>
        <div class="colbtn" data-color="blue-colors"></div>
        <div class="colbtn" data-color="green-colors"></div>
        <div class="colbtn" data-color="pink-colors"></div>
        <div class="colbtn" data-color="purple2-colors"></div>
        <div class="colbtn" data-color="purple-colors"></div>
        <div class="colbtn" data-color="sky-colors"></div>
        <div class="colbtn" data-color="yellow-colors"></div>
        <style>
            .btncoloropen {
    position: absolute;
    left: -50px;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    color: #000;
    line-height: 50px;
    font-size: 20px;
    text-align: center;
    background-color: #fff;
}

.colorpicker {
    position: fixed;
    top: 130px;
    right: -200px;
    background-color: #fff;
    padding: 17px 20px;
    max-width: 200px;
    z-index: 1000;
    transition: all .3s;
}

.colorpicker.opened {
    right: 0;
    transition: all .3s;
}

.pickername {
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 5px;
}

.colbtn {
    display: inline-block;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.colbtn.active {
    box-shadow: inset 0 0 0 8px #ffffff8c;
}

.colbtn[data-color="default-colors"] {
    background-color: #FBCB47;
}

.colbtn[data-color="blue-colors"] {
    background-color: #70b0ff;
}

.colbtn[data-color="pink-colors"] {
    background-color: #fe2fd1;
}

.colbtn[data-color="green-colors"] {
    background-color: #45f718;
}

.colbtn[data-color="purple2-colors"] {
    background-color: #dcb5ff;
}

.colbtn[data-color="purple-colors"] {
    background-color: #ff6bbd;
}

.colbtn[data-color="sky-colors"] {
    background-color: #2ffeeb;
}

.colbtn[data-color="yellow-colors"] {
    background-color: #f3ec0a;
}
        </style>
        <script>
            $(window).on('load', function() {
                $('.btncoloropen').on('click', function() {
                    $(this).parent().toggleClass('opened');
                });
                $('.colbtn').on('click', function() {
                    $('.colbtn').removeClass('active');
                    $(this).addClass('active');
                    if ($(this).data('color') != 'default-colors') {
                        $('#customizercss').remove();
                        $('link[href="assets/css/colors/default-colors.css"]').after('<link id="customizercss" rel="stylesheet" href="static/css/fa3b73d24f06457e90f73bcf2e9f88f7.css' + jQuery(this).data('color') + '.css">');
                    } else {
                        $('head #customizercss').remove();
                    } if ($(this).data('color') == 'green-colors') {
                        $('.logo_head img').attr('src', 'demoimg/greenlogo.png');
                    }
                    if ($(this).data('color') == 'blue-colors') {
                        $('.logo_head img').attr('src', 'demoimg/bluelogo.png');
                    }
                    if ($(this).data('color') == 'pink-colors') {
                        $('.logo_head img').attr('src', 'demoimg/pinklogo.png');
                    }
                    if ($(this).data('color') == 'purple2-colors') {
                        $('.logo_head img').attr('src', 'demoimg/purplelogo.png');
                    }
                    if ($(this).data('color') == 'purple-colors') {
                        $('.logo_head img').attr('src', 'demoimg/purplelogo.png');
                    }
                    if ($(this).data('color') == 'sky-colors') {
                        $('.logo_head img').attr('src', 'demoimg/skylogo.png');
                    }
                    if ($(this).data('color') == 'yellow-colors') {
                        $('.logo_head img').attr('src', 'demoimg/yellowlogo.png');
                    }
                    if ($(this).data('color') == 'default-colors') {
                        $('.logo_head img').attr('src', 'assets/images/logo.png');
                    }
                })
            });
        </script>
    </div>
</body>

</html>